body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3740px;
  height:12330px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:-440px;
  top:-330px;
  width:3740px;
  height:12330px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2825px;
  height:4891px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:7431px;
  width:2825px;
  height:4891px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2361px;
  height:2170px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:140px;
  width:2361px;
  height:2170px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2825px;
  height:2327px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:2210px;
  width:2825px;
  height:2327px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2895px;
  height:3201px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:4426px;
  width:2895px;
  height:3201px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
